.u-section-2-1 {
  background-image: none;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 60px 0 -1px;
}

.u-section-2-1 .u-image-1 {
  min-height: 572px;
  pointer-events: auto;
  background-image: url("images/test1.jpeg");
  background-position: 50% 50%;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-1 .u-layout-cell-2 {
  min-height: 572px;
  pointer-events: auto;
}

.u-section-2-1 .u-container-layout-2 {
  padding: 30px 43px;
}

.u-section-2-1 .u-text-1 {
  font-family: Lora-Bold;
  text-transform: none;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 89px 25px 0 8px;
}

.u-section-2-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 8px 0 0 8px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2-1 .u-image-1 {
    min-height: 342px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2-2 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 60px 0 -1px;
}

.u-section-2-2 .u-image-1 {
  min-height: 572px;
  pointer-events: auto;
  background-image: url("images/test3_new.jpeg");
  background-position: 50% 50%;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-2 .u-layout-cell-2 {
  min-height: 572px;
  pointer-events: auto;
}

.u-section-2-2 .u-container-layout-2 {
  padding: 30px 51px;
}

.u-section-2-2 .u-text-1 {
  font-family: Lora-Bold;
  text-transform: none;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 44px 18px 0 0;
}

.u-section-2-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 8px 18px 0 0;
}

.u-section-2-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 8px 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2-2 .u-image-1 {
    min-height: 342px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2-3 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2-3 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 60px 0 -68px;
}

.u-section-2-3 .u-image-1 {
  min-height: 572px;
  pointer-events: auto;
  background-image: url("images/test21.jpeg");
  background-position: 50% 50%;
}

.u-section-2-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-3 .u-layout-cell-2 {
  min-height: 572px;
  pointer-events: auto;
}

.u-section-2-3 .u-container-layout-2 {
  padding: 30px 51px;
}

.u-section-2-3 .u-text-1 {
  font-family: Lora-Bold;
  text-transform: none;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 33px 18px 0 0;
}

.u-section-2-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 7px 18px 0 0;
}

.u-section-2-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 7px 47px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-3 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-2-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2-3 .u-image-1 {
    min-height: 342px;
  }

  .u-section-2-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2-4 .u-sheet-1 {
  min-height: 739px;
}

.u-section-2-4 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2-4 .u-image-1 {
  min-height: 572px;
  pointer-events: auto;
  background-image: url("images/test51.jpeg");
  background-position: 50% 50%;
}

.u-section-2-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2-4 .u-layout-cell-2 {
  min-height: 572px;
  pointer-events: auto;
}

.u-section-2-4 .u-container-layout-2 {
  padding: 30px 51px;
}

.u-section-2-4 .u-text-1 {
  font-family: Lora-Bold;
  text-transform: none;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 52px 19px 0 0;
}

.u-section-2-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 472px;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 472px;
  }

  .u-section-2-4 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2-4 .u-image-1 {
    min-height: 362px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 543px;
  }

  .u-section-2-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-4 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-2-4 .u-image-1 {
    min-height: 342px;
  }

  .u-section-2-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/digits_bg_auto_x2.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-family: Lora-Regular;
  font-size: 6rem;
  background-image: none;
  font-weight: normal;
  width: 661px;
  margin: 262px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}.u-block-f7a3-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-f7a3-3 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  top: 253px;
  right: auto;
}

.u-block-f7a3-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: auto;
  top: 245px;
  right: calc(((100% - 1140px) / 2)  + -77px);
}

@media (max-width: 1199px) {
  .u-block-f7a3-4 {
    right: calc(((100% - 940px) / 2)  + -63px);
  }
}

@media (max-width: 991px) {
  .u-block-f7a3-4 {
    right: calc(((100% - 720px) / 2)  + -48px);
  }
}

@media (max-width: 767px) {
  .u-block-f7a3-4 {
    right: calc(((100% - 540px) / 2)  + -36px);
  }
}

@media (max-width: 575px) {
  .u-block-f7a3-4 {
    right: calc(((100% - 340px) / 2)  + -23px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1350px;
}

.u-section-3 .u-text-1 {
  font-family: Lora-Bold;
  width: 279px;
  margin: 69px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 61px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 772px;
}

.u-section-3 .u-container-layout-1 {
  padding: 27px;
}

.u-section-3 .u-image-1 {
  width: 220px;
  height: 220px;
  background-image: url("images/IMG_6588.JPG");
  background-position: 50% 50%;
  margin: 0 auto 0 47px;
}

.u-section-3 .u-text-2 {
  font-family: Lora-Bold;
  margin: 23px 0 0 6px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 6px 6px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 27px;
}

.u-section-3 .u-image-2 {
  width: 220px;
  height: 220px;
  background-image: url("images/image0hartigan.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 47px;
}

.u-section-3 .u-text-4 {
  font-family: Lora-Bold;
  margin: 23px 0 0 6px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 6px 6px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 27px;
}

.u-section-3 .u-image-3 {
  width: 220px;
  height: 220px;
  background-image: url("images/image0.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 47px;
}

.u-section-3 .u-text-6 {
  font-family: Lora-Bold;
  margin: 23px 0 0 6px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 6px 6px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 27px;
}

.u-section-3 .u-image-4 {
  width: 220px;
  height: 220px;
  background-image: url("images/image1Duong.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 47px;
}

.u-section-3 .u-text-8 {
  font-family: Lora-Bold;
  margin: 23px 0 0 6px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 6px 6px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 27px;
}

.u-section-3 .u-image-5 {
  width: 220px;
  height: 220px;
  background-image: url("images/image0Preyansh.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 47px;
}

.u-section-3 .u-text-10 {
  font-family: Lora-Bold;
  margin: 23px 0 0 6px;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 6px 6px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 27px;
}

.u-section-3 .u-image-6 {
  width: 220px;
  height: 220px;
  background-image: url("images/grace.png");
  background-position: 50% 50%;
  margin: 0 auto 0 47px;
}

.u-section-3 .u-text-12 {
  font-family: Lora-Bold;
  margin: 23px 0 0 6px;
}

.u-section-3 .u-text-13 {
  font-weight: 400;
  margin: 6px 6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/code_bg_again.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 760px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-family: Lora-Bold;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  margin: 50px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 82px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 23.25px) calc(25% - 23.25px) calc(25% - 23.25px) calc(25% - 23.25px);
  min-height: 303px;
  grid-gap: 31px 31px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Lora-Bold;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-family: Lora-Bold;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-family: Lora-Bold;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 59px;
  width: 59px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  font-family: Lora-Bold;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 23.25px));
    min-height: 250px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-icon-2 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-4 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-4 .u-icon-4 {
    color: rgb(163, 85, 89) !important;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 766px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
    min-height: 491px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}@font-face {
  font-family: 'Lora-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Lora-Regular.ttf);
}@font-face {
  font-family: 'Lora-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Lora-Bold.ttf);
}